<% if user_signed_in? %>
<h1>Success! You're signed in. You're so darn special.</h1>
<% else %>
<div class="center hero-unit">
    <h1>Welcome to Carrie's First Rails application!</h1>

    <h2>
      I've basically followed instructions from
      <a href="http://omrails.com/">One Month Rails</a>.
    </h2>

    <p>I'm not quite sure if I've learned that much. Seems like it taught me to set up something very simple and make it live, but not really anything about doing anything cool in ruby/rails aside from getting the idea to use other people's gems.</p>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>
<% end %>